.app {
    background: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header {
    height: 30vh;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

.header-buttons {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.header-buttons button {
    margin-right: 20px;
    margin-left: 20px;
}