.available-locations {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.first-location {
    position: absolute;
    top: 5vh;
    left: -9vw;
    cursor: pointer;
}

.second-location {
    position: absolute;
    top: -12.5vh;
    left: 30vw;
    cursor: pointer;
}

.third-location {
    position: absolute;
    top: 17vh;
    left: 78vw;
    cursor: pointer;
}