.available-locations {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.first-location {
    display: flex;
    position: relative;
    top: 25%;
    cursor: pointer;
    width: 30vw;
}

.second-location {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    width: 30vw;
}

.third-location {
    display: flex;
    position: relative;
    top: 40%;
    cursor: pointer;
    width: 35vw;
}