.location-component {
    width: 30vw;
    display: flex;
}

.location-building-image img {
    width: 100%;
}

.location-overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    top: -30vh;
    left: 20vw;
    transform: translateY(40px);
    transition: all 0.7s;
    z-index: 10;
}

.location-overlay-last {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    top: -30vh;
    left: 0vw;
    transform: translateY(40px);
    transition: all 0.7s;
    z-index: 10;
}

.location-overlay button, .location-overlay-last button {
    width: 90%;
    text-transform: uppercase;
    font-weight: 700;
}

.location-building-image:hover .location-overlay, .location-building-image:hover .location-overlay-last {
    opacity: 1;
    transform: translateY(0px);
}

article img {
    width: 100%;
    height: auto;
}